asgiref
async-timeout
attrs
autobahn
Automat
autopep8
cffi
channels
channels-redis
constantly
cryptography
daphne
Django
django-cleanup
djangorestframework
hyperlink
idna
incremental
msgpack
packaging
Pillow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyOpenSSL
pyparsing
pytz
redis
service-identity
six
sqlparse
tomli
Twisted
txaio
typing_extensions
tzdata
zope.interface
crispy-bootstrap4
django-bootstrap4
django-cors-headers